[submodule "cmudb/HypoPG"]
	path = cmudb/HypoPG
	url = https://github.com/17zhangw/hypopg.git
[submodule "cmudb/pg_hint_plan"]
	path = cmudb/pg_hint_plan
	url = https://github.com/ossc-db/pg_hint_plan.git
[submodule "cmudb/pgvector"]
	path = cmudb/pgvector
	url = https://github.com/pgvector/pgvector
