[submodule "cmudb/HypoPG"]
	path = cmudb/HypoPG
	url = https://github.com/HypoPG/HypoPG.git
[submodule "pg_hint_plan"]
	path = pg_hint_plan
	url = https://github.com/ossc-db/pg_hint_plan
[submodule "cmudb/pg_hint_plan"]
	path = cmudb/pg_hint_plan
	url = https://github.com/ossc-db/pg_hint_plan
